{#include __html}
{#title}{#insert title}{/}{/title}
{#head}{#insert head}{/}{/head}

{#include layout/_navbar}{/}

<div class="container-fluid">
    <div class="row">
        {#include layout/_sidebar}{/}

        <main class="content col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{#insert title}{/}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        {#insert toolbarButtons}{/}
                    </div>
                </div>
            </div>
            {#insert}{/}
        </main>
    </div>
</div>

{/include}
